/node_modules

/public/hot
!/public/storage
/public/mix-manifest.json
/public/vendor/statamic
/public/vendor/app
/public/js
/public/scripts
/public/css
/public/styles
/public/images
/public/fonts
/public/icons
/public/spritemap.js


/vendor
.env
.env.backup
.env.dusk
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea

/storage/*.key
/storage/forms

/storage/app/public/.meta
/storage/app/public/assets/.meta
/storage/app/public/files/.meta

/public/vendor